.mole{
   height:15em;
   width:15em;
   background-color:grey;
   border:1px solid grey;
   border-radius:50%; 
}
div{
   display:flex;
   justify-content:center;
   justify-content:space-evenly;
   align-items: center;
   flex-wrap:wrap;
   /* height: 80vh; */
}
h1{
   text-align:center;
}
h2{
   text-align:center
}
body{
   background-color: rgb(192, 219, 228);
}
.active{
   height:15em;
   width:15em;
   background-color:green;
   border:1px solid green;
   border-radius:50%; 
}
#restart{
   display:none;
}